<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>updateAttraction</title>

    <!-- stylesheets -->
    <link th:href="@{/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- font-styles -->
    <link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap" rel="stylesheet">
</head>
<body>
<!-- navigation-bar that is fixed to the screen -->
<div>
    <nav class="navbar">
        <div class="logo">Discover Denmark</div>
        <ul class="nav-links">
            <li><a href="#start">Home</a></li>
            <li><a href="#attractions">Attractions</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</div>

<div class="attractions">

</div>
</body>
</html>